.calculator_btn {
    margin: 5px;
    width: 40px;
    vertical-align: middle;
}

.scalable {
	width: 80%;
}

.calculatorTable {
	max-width: 200px;
}

th, td {
    text-align: center;
	max-width: 50px;
}



.centered {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}


